@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$slate-700: #334155;
$white: #fff;
$slate-800: #1e293b;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $slate-700;
}

.header {
  display: flex;
  justify-content: center;

  .header-title {
    color: $white;
    margin-top: 10px;
  }
}

@mixin icon {
  background-size: cover;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.books-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;

  .book {
    display: grid;
    gap: 5px;
    justify-items: center;

    .book-title {
      text-align: center;
      font-family: "Raleway", sans-serif;
      margin-bottom: 20px;
    }
    
    .read-container {
      display: flex;
      gap: 10px;
    }

    .delete-book {
      background: url("./assets/delete.svg");
      border: none;
      background-size: cover;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .book-read-button {
      background: url("./assets/check.svg");
      @include icon;
    }
    .book-not-read-button {
      background: url("./assets/close-circle-outline.svg");
      @include icon;
    }
  }
}

.book-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .book-form {
    padding: 2rem;
    margin: 1rem;
    background-color: $slate-800;
    color: $white;
    border-radius: 5px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 10px;
        align-items: center;

        input[type="text"],
        input[type="number"] {
          padding: 5px 10px;
          border-radius: 5px;
          border: none;
        }

        #book-read-check-box {
          justify-self: start;
          width: 20px;
        }

        #add-book {
          font-size: 1.25rem;
          grid-column: span 2;
          justify-self: end;
        }
      }
    }
  }
}

#add-new-book {
  font-size: 1.5rem;
  color: $white;
  background-color: $slate-800;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  .book-form-container {
    .book-form {
      ul {
        li {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
